/* style settings below */
body {
	margin: 0;
	background-color: #f0f0f0;
}

/* navigation bar */
.navbar a {
	color: rgb(16, 32, 70);
}

#myNavbar .dropdown-menu a {
	color: rgb(34, 229, 255);
	background-color: grey;
}

/* use screen efficiently with less padding*/
.navbar-header {
	padding-left: 25px;
}

/* use a monospace font for logo and the concept teal/blue*/
.navbar-header a {
	font-family: 'BPMono';
	color: rgb(0, 255, 234);
	font-weight: bold;
	background-color: #2f32f5;
}

/*navigation bar */
.navbar {
	background-color: #b4b5fb;
	border:none;
}


/* dark background and white labels*/
.icon-bar {
	background-color: #ffff;
}

/* small screen settings */
@media (max-width: 767px){
.navbar {
	background-color: #2f32f5;
	border:none;
}
}

/* drop-down menu */
.navbar li {
	background-color: #ffff;
}

/* size of images for thumbnails */
.vizThumb{
	width: 150px;
	height: 150px;
}

/* remove panel decorations*/
.panel {
	border: none;
	box-shadow: none;
	border-radius: 0;
}

/* Customize the main panel for landing and visualization pages */
.summary {
	background-color: #ffff;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 100px;
	padding: 35px;
	padding-top: 20px;
}

.landingImage {
	float:left;
}

.summaryParagraph, .comparisonText {
	font-family: 'Ubuntu Mono';
	color: #001850;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

.visualizations {
	margin-top: 30px;
	margin-right: 50px;
	background-color: rgb(165, 206, 207);
	text-align: center;
}

.vizAlign {
	text-align: center;
}

.vizImages {
	width: 500px;
	height: auto;
}

/* Customize the panel for comparisons page*/
.comparisons {
	background-color: rgb(179, 204, 199);
	margin-top: 40px;
	margin-bottom: 100px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 35px;
	padding-top: 20px;
	text-align: center;
}

/* Make a border around thumbnail for active page */
.active {
	border: 2px solid #2f32f5;
}


/* Customize the headings of each section*/
.summary h2, .visualizations h3, .comparisons h2 {
	font-family: Georgia;
	color: #2f32f5;
	font-weight: bold;
	text-align: left;
}

/* Cutomize the hover attributes of navigation thumbnails */
.visualizations img:hover, .comparisons img:hover{
	border: 2px solid #2f32f5;
}

.tempHover {
	position: relative;
	display: inline-block;
}

.tempHover .vizTop{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
}

.tempHover:hover .vizTop{
	display: inline;
	opacity: 0.85;

}

.humHover {
	position: relative;
	display: inline-block;
}

.humHover .vizTop2{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
}

.humHover:hover .vizTop2{
	display: inline;
	opacity: 0.85;

}

.cloudHover {
	position: relative;
	display: inline-block;
}

.cloudHover .vizTop3{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
}

.cloudHover:hover .vizTop3{
	display: inline;
	opacity: 0.85;

}

.windHover {
	position: relative;
	display: inline-block;
}

.windHover .vizTop4{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
}

.windHover:hover .vizTop4{
	display: inline;
	opacity: 0.80;

}

/* Customize footer */
#footer {
	background-color: #2f32f5;
	height: 56px;
	margin: 0;
}

.panel-footer {
	background-color: #000000;
	color: #ffff;
	text-align: center;
	padding: 15px;
}

/* Customize page response for smaller screens*/
@media (max-width: 800px) {
.landingImage{
	float: left;
	width: 300px;
	height: auto;
}

.summary, .comparisons {
	margin: 35px;
	margin-top: 30px;
}

.visualizations {
	margin: 35px;
	margin-bottom: 75px;
	background-color: rgb(164, 237, 255);
}

.vizThumb{
	width: 130px;
	height: 130px;
}
}

/* Customize for mobile */
@media (max-width: 480px) {
.navbar-header {
	padding-left: 5px;
}

.landingImage{
	float: left;
	width: 250px;
	height: auto;
}

.summary, .comparisons {
	background-color: rgba(164, 249, 255, 0.32);
	margin: 35px;
	margin-top: 30px;
	padding:none;
}

.visualizations {
	margin: 35px;
	margin-bottom: 75px;
	background-color: rgb(164, 237, 255);
}

.vizImages {
	width: 250px;
	height: auto;
}

.comparisons img {
	width: 200px;
	height: auto;
}
}